doctype html
html
    head
        title 3D Print Queue
        link(rel='stylesheet', href='/css/body.css')
        link(rel = 'stylesheet', href = '/css/test.css')
        meta(name='viewport' content='windth=device-width, initial-scale=1')
    body
        h2 3D Print Queue
        iframe(class = "regPrints", src = "https://docs.google.com/spreadsheets/d/e/2PACX-1vSikvft3kwodpPefYj-h3Nw1t685NOGFyXSYVmmLdvyrBBf7DNctnC2HZ8s3kdxrppMOc8mM5_tT6Da/pubhtml?gid=866237229&amp;single=true&amp;widget=true&amp;headers=false")
        h2 Pro Print Queue
        iframe(class = "proPrints", src = "https://docs.google.com/spreadsheets/d/e/2PACX-1vSikvft3kwodpPefYj-h3Nw1t685NOGFyXSYVmmLdvyrBBf7DNctnC2HZ8s3kdxrppMOc8mM5_tT6Da/pubhtml?gid=1170070048&amp;single=true&amp;widget=true&amp;headers=false")
        h3 Current Files Printing
        button(onclick = "export2txt()")
        script.
            const sheetId = '1MYRyMDRn3eRuRXmRlIxOsCuIFTb08BgBUngr9Mfpqt0';
            const base = `https://docs.google.com/spreadsheets/d/${sheetId}/gviz/tq?`;
            const sheetName = 'Test';
            const query = encodeURIComponent('Select *')
            const url = `${base}&sheet=${sheetName}&tq=${query}`
            
            const data = []
            document.addEventListener('DOMContentLoaded', init)
            function init() {
                fetch(url)
                    .then(res => res.text())
                    .then(rep => {
                        //Remove additional text and extract only JSON:
                        const jsonData = JSON.parse(rep.substring(47).slice(0, -2));
                        export2txt(jsonData)
                        testData = jsonData.table.rows[0].c[3].v;
                        testData2 = jsonData.table.rows[1].c[3].v;
                        testData3 = testData + testData2;
                        //testData.appendChild(jsonData.table.rows[1].c[3].v);
                        export2txt(testData3)
                    })
            }
            function export2txt(originalData) {
                const a = document.createElement("a");
                a.href = URL.createObjectURL(new Blob([JSON.stringify(originalData, null, 2)], {
                    type: "text/plain"
                }));
                a.setAttribute("download", "data.txt");
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            }
            function download(content, fileName, contentType) {
                var a = document.createElement("a");
                var file = new Blob([content], {type: contentType});
                a.href = URL.createObjectURL(file);
                a.download = fileName;
                a.click();
            }            
            function output(inp) {
                document.body.appendChild(document.createElement('pre')).innerHTML = inp;
            }