doctype html <!-- This is for verifying the stl stuff -->
html
    head
        title 3D Print Queue
        link(rel='stylesheet', href='/css/body.css')
        link(rel = 'stylesheet', href = '/css/test.css')
        script(src = '/js/three.min.js')
        script(src = '/js/OrbitControls.js')
        script(src = '/js/STLLoader.js')
        script(src = '/js/stlviewer.js')
        script(src = '/js/downloadFile.js')
        script(src = '/js/WebGL.js')
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body
        h2 3D Print Queue
        iframe(class = "regPrints", src = "https://docs.google.com/spreadsheets/d/e/2PACX-1vSikvft3kwodpPefYj-h3Nw1t685NOGFyXSYVmmLdvyrBBf7DNctnC2HZ8s3kdxrppMOc8mM5_tT6Da/pubhtml?gid=866237229&amp;single=true&amp;widget=true&amp;headers=false")
        img(src = "ninja.png")
        script. 
            window.onload = function() {
                STLViewerEnable("stlviewer");
            }
        div(class = "stlviewer" data-src = "test2.stl")




