.regPrints {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}
.proPrints {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}
h2 {
  text-align: center;
}
.flexbox-standard1 {
  text-align: center;
  color: black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
.flexbox-wrapper1  {
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}
.flexbox-wrapper1 iframe  {
  width: 150%;
}

.box{
    float:left;
    margin-right:20px;
}
.clear{
    clear:both;
}
